img {
	border: solid white 5px;
}

#Staticlogo img {
	max-width: 30em;
	position: center;
	padding-top: 5em;
	padding-left: 5em;
	border: none;
}

.nav > li > a:hover {
	background-color: #89290B;
}

.panel-heading {
	text-align: center;
	color: black;
	text-decoration: bold;
}

.panel {
	color: black;
	text-align: justify;
}
.special {
	background-color: #DFF0D8;
    color: #3C763D;
}