img {
	border: solid white 5px;
}

#Staticlogo img {
	max-width: 30em;
	position: center;
	padding-top: 5em;
	padding-left: 5em;
	border: none;
}

.nav > li > a:hover {
	background-color: #89290B;
}

.panel-default > .panel-heading {
	text-align: center;
	color: white;
	text-decoration: bold;
	background-color: #525252;
	border-color: #89290B;
	border-width: 2px;
}

.panel {
	color: black;
	text-align: justify;
	background-color: #CCCCCC;
	border-color: #89290B;
	border-width: 4px;
}
.special {
	background-color: #808080;
    color: white;
    text-decoration: bold;
}

.badge {
	background-color: black;
}

tr {
	border-color: #89290B;
}