body {
	padding-top: 70px;
	background: url(../img/smoke.jpg) no-repeat;
	background-size: cover;
}

.navbar-default {
	background: url(../img/nav3.jpg) no-repeat;
	border: 5px solid black;
}

.navbar-toggle {
	color:  white;
	font-weight: bold;
	border-color: white;
}
.navbar-toggle:hover {
	background-color: @gray-lighter
	color: #0066ff;
}
.navbar-toggle .glyphicon {
	color: ffff66;
}
.navbar-toggle:hover .glyphicon {
	color: #ffffcc;
}

.container {
	width: 100%;
	height: 35em;
}

.navbar-default .navbar-nav > li > a {
	color: #89290B;
	font-weight: bold;
}

.navbar-default .navbar-nav li > a:hover {
	color: #DA4112;
	font-weight: bold;
	
}

/*.container h1 {
	float: right;
	clear: right;
	position: relative;
	right: 5em;
	top: 2em;
}

.container h2 {
	float: right;
	clear: right;
	position: relative;
	right: 6em;
	top: 5em;
}
*/

.jumbotron {
	background-color: transparent;
	margin-bottom: 0px;
	background: url(../img/fire.png) no-repeat;
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-shadow: 2px 2px 7px black;
}

.thumbtitle {
	margin-top: 2em;
	text-align: center;
	color: black;
}

.thumb {
	border: 8px ridge black;
}

.nav .navbar-nav {
	color: white;
}

.jumbotron h1 {
	padding-top: 1.5em;
	padding-left: 25%;
	text-shadow: 5px 5px 5px black;
}

.jumbotron h2 {
	padding-top:1.5em;
	padding-left: 12%;
}

a.thumbnail:link,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail:active {
	border-color: transparent;
	color: black;
	text-decoration: none;
}

#form {
	padding: 5em 10em 2em 10em;
	color: white;
}

#form h2 {
	text-align: center;
	color: white;
}

.page-header {
	text-align: center;
	color: black;
}

.page-header small {
	color: #800000;
}

.thumbnail {
	background-color: transparent;
	color: black;
	text-align: justify;
}

.media img {
	max-height: 35em;
}

.nav > .disabled > a:hover, .nav > li.disabled > a, .nav > .disabled > a:link, .nav > .disabled > a:focus, .nav > .disabled > a:visited, .nav > .disabled > a:disabled {
	color: transparent;
	background-color: black; 
}

.navbutton {
	background-color: black;
}

.navbutton a {
	color: white;

}

.nav-pills > li.active > a {
	background-color: #89290B;
}


.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
	background-color: black;
	color: transparent;
}

.nav > li.active > a:hover, .nav > li.active > a:focus {
	background-color: black;
	color: #89290B;
}